.parallax {
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.clear {
  height: 2000px;
  background-color: red;
}
#background-1{
  background-image: url(../img/havi-background.jpg);
  min-height: 900px;
}
#name {
  font-family: 'Krona One', sans-serif;
  font-size: 80px;
  text-align: center;
  position: absolute;
  left: 0;
  width: 100%;
  color: #ffffff;

  top:70%
}
#sub-name {
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  top: 90%
}
hr{

}
